<!DOCTYPE html>
<html>
  <head>
    <title>Overwatch Team Manager</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      html, body {background:none;}
      body {padding-top:130px;}
      td {padding:0;}
    </style>
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/angular-resource.min.js"></script>
    <script src="/js/dependencies/angular-toastr.min.js"></script>
    <script src="/js/dependencies/angular-waterfall.js"></script>
    <script src="/js/public/login/LoginModule.js"></script>
    <script src="/js/public/teams/TeamModule.js"></script>
    <script src="/js/private/createaccount/CreateAccountModule.js"></script>
    <script src="/js/private/createaccount/CreateAccountController.js"></script>
    <script src="/js/public/login/LoginController.js"></script>
    <script src="/js/public/teams/TeamController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
