<div class="overwatch-font" ng-app="TeamModule" ng-controller="TeamController" ng-init="loadTeam(<%= id %>)" ng-cloak>
    
    <div class="row"style="margin:0 0 47px 0;background:url('/images/bar-lg-bg.png') repeat-x center;">
        <div class="col-xs-2" style="margin:0;height:147px;background:url('/images/bar-lg-open.png') no-repeat center right;">
            
        </div>
        <div class="col-xs-8" style="margin:0;height:147px;background:#191d20;">
            <div class="row">
                <div class="col-xs-3" style="margin-top:-26px;">
                    <img ng-src="/images/hndgaming.png" height="200" width="200" class="img-circle" ng-if="team.imageUrl == null" />
                    <img ng-src="{{team.imageUrl}}" height="200" width="200" class="img-circle" ng-if="team.imageUrl != null">
                </div>
                <div class="col-xs-6 text-center gradient-text" style="font-size:84px;line-height:147px;">
                    {{team.name}}
                </div>
                <div class="col-xs-3 text-right" style="padding-top:3px;">
                    <span ng-if="team.averageRank == 0">N/A</span>
                    <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-1.png" height="48" width="48" ng-if="team.averageRank > 0 && team.averageRank <= 1499">
                    <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-2.png" height="48" width="48" ng-if="team.averageRank >= 1500 && team.averageRank <= 1999">
                    <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-3.png" height="48" width="48" ng-if="team.averageRank >= 2000 && team.averageRank <= 2499">
                    <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-4.png" height="48" width="48" ng-if="team.averageRank >= 2500 && team.averageRank <= 2999">
                    <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-5.png" height="48" width="48" ng-if="team.averageRank >= 3000 && team.averageRank <= 3499">
                    <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-6.png" height="48" width="48" ng-if="team.averageRank >= 3500 && team.averageRank <= 3999">
                    <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-7.png" height="48" width="48" ng-if="team.averageRank >= 4000 && team.averageRank <= 5000">
                    {{team.averageRank}}
                    <br/>
                    <img ng-src="/images/gosugamers.png" height="32" width="32" />
                    <span ng-if="team.gosuUrl == null">N/A</span>
                    <span ng-if="team.gosuNa != null">NA/{{team.gosuNa}} &nbsp;</span>
                    <span ng-if="team.gosuEu != null">EU/{{team.gosuEu}} &nbsp;</span>
                    <span ng-if="team.gosuInt != null">INT/{{team.gosuInt}}</span>
                </div>
            </div>
        </div>
        <div class="col-xs-2" style="margin:0;height:147px;background:url('/images/bar-lg-close.png') no-repeat center left;">
            
        </div>
    </div>
    
    <div class="row" ng-repeat="member in team.teammembers | orderBy:'-rank'" style="margin:10px 0;background:url('/images/bar-bg.png') repeat-x center;">
        <div class="col-xs-2" style="margin:0;height:76px;background:url('/images/bar-open.png') no-repeat center right;">
            
        </div>
        <div class="col-xs-8" style="margin:0;height:76px;background:#191d20;">
            <table width="100%">
                <tbody>
                    <tr>
                        <td width="15%" class="text-right gradient-text" style="padding-right:10px;">{{filterBattletag(member.battletag) | uppercase}}</td>
                        <td width="56px" style="height:76px;background:url('/images/bar-curve-left.png')"></td>
                        <td style="background:#e1dedb;color:#141618;height:76px;line-height:76px;">
                            <div class="row">
                                <div class="col-xs-4 text-left">
                                    <img ng-src="/images/heroes/{{filterHeroName(member.mostPlayed1)}}.svg" ng-if="member.mostPlayed1 != null" class="img-circle svg" height="48" width="48" style="margin-left:-10px;" />
                                    <span style="margin-left: -35px;">{{member.mostPlayed1 | uppercase}}</span>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <img ng-src="/images/heroes/{{filterHeroName(member.mostPlayed2)}}.svg" ng-if="member.mostPlayed2 != null" class="img-circle svg" height="48" width="48" style="margin-left:-10px;" />
                                    <span style="margin-left: -35px;">{{member.mostPlayed2 | uppercase}}</span>
                                </div>
                                <div class="col-xs-4 text-right">
                                    <img ng-src="/images/heroes/{{filterHeroName(member.mostPlayed3)}}.svg" ng-if="member.mostPlayed3 != null" class="img-circle svg" height="48" width="48" style="margin-left:-10px;" />
                                    <span style="margin-left: -35px;">{{member.mostPlayed3 | uppercase}}</span>
                                </div>
                            </div>
                        </td>
                        <td width="56px" style="height:76px;background:url('/images/bar-curve-right.png')"></td>
                        <td width="15%" class="gradient-text">
                            <span style="width:48px;height:48px;display:inline-block;" ng-if="member.rank == null || member.rank == 0"></span>
                            <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-1.png" height="48" width="48" ng-if="member.rank > 0 && member.rank <= 1499">
                            <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-2.png" height="48" width="48" ng-if="member.rank >= 1500 && member.rank <= 1999">
                            <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-3.png" height="48" width="48" ng-if="member.rank >= 2000 && member.rank <= 2499">
                            <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-4.png" height="48" width="48" ng-if="member.rank >= 2500 && member.rank <= 2999">
                            <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-5.png" height="48" width="48" ng-if="member.rank >= 3000 && member.rank <= 3499">
                            <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-6.png" height="48" width="48" ng-if="member.rank >= 3500 && member.rank <= 3999">
                            <img ng-src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-7.png" height="48" width="48" ng-if="member.rank >= 4000 && member.rank <= 5000">
                            {{member.rank}} <span ng-if="member.rank == null">N/A</span>
                        </td>
                        <td width="12%" class="gradient-text">K/D {{member.averageKd | number:2}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-2" style="margin:0;height:76px;background:url('/images/bar-close.png') no-repeat center left;">
            
        </div>
    </div>
    
</div>