[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a, a:link, a:hover, a:visited, a:active {
    color: #5bc0de;
}

a.btn, a.btn:link, a.btn:hover, a.btn:visited, a.btn:active {
    color: #fff;
}

table tr td {
    font-size: 14px;
}

.navbar {
    font-size: 16px;
    min-height: 45px;
}

.container {
    background: rgba(0,0,0,0.75);
    min-height: 100vh;
}

.login-container {
    max-width: 350px;
    padding-top: calc(50vh - 219px);
    margin: auto;
}

.navbar-container {
    padding-top: 25px;
}