[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
	font-family: 'Overwatch';
	src: url('../fonts/BigNoodleTooOblique.eot');
	src: url('../fonts/BigNoodleTooOblique.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BigNoodleTooOblique.woff') format('woff'),
		url('../fonts/BigNoodleTooOblique.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a, a:link, a:hover, a:visited, a:active {
    color: #5bc0de;
}

a.btn, a.btn:link, a.btn:hover, a.btn:visited, a.btn:active {
    color: #fff;
}

table tr td {
    font-size: 14px;
}

.overwatch-font * {
    font-family: 'Overwatch';
    font-size: 48px;
}

.overwatch-font .gradient-text {
    background: -webkit-linear-gradient(#f3ddc8, #e89792);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    font-size: 16px;
    min-height: 45px;
}

.container {
    background: rgba(0,0,0,0.75);
    min-height: 100vh;
}

.login-container {
    max-width: 350px;
    padding-top: calc(50vh - 219px);
    margin: auto;
}

.navbar-container {
    padding-top: 25px;
}

.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}