<div ng-app="TeamModule" ng-controller="TeamController" ng-init="loadTeams()" ng-cloak>
    
    <ul class="breadcrumb">
        <li class="active">Teams</li>
    </ul>
    
    <div class="row">
        <div class="col-sm-6">
            <h1>Teams</h1>
        </div>
        <div class="col-sm-6">
            <form class="form-inline text-right" style="padding-top: 20px;">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search.name" placeholder="Search...">
                </div>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div ng-repeat="model in teams | orderBy:'name' | filter:search">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-sm-4">
                <div class="well text-center">
                    <a href="/public/team/{{model.id}}" style="color:#fff;">
                        <span class="lead">{{model.name}}</span>
                        <div class="row">
                            <div class="col-xs-6">
                                <span ng-if="model.averageRank == 0 || model.averageRank == null">N/A</span>
                                <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-1.png" height="25" width="25" ng-if="model.averageRank > 0 && model.averageRank <= 1499">
                                <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-2.png" height="25" width="25" ng-if="model.averageRank >= 1500 && model.averageRank <= 1999">
                                <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-3.png" height="25" width="25" ng-if="model.averageRank >= 2000 && model.averageRank <= 2499">
                                <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-4.png" height="25" width="25" ng-if="model.averageRank >= 2500 && model.averageRank <= 2999">
                                <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-5.png" height="25" width="25" ng-if="model.averageRank >= 3000 && model.averageRank <= 3499">
                                <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-6.png" height="25" width="25" ng-if="model.averageRank >= 3500 && model.averageRank <= 3999">
                                <img src="https://blzgdapipro-a.akamaihd.net/game/rank-icons/season-2/rank-7.png" height="25" width="25" ng-if="model.averageRank >= 4000 && model.averageRank <= 5000">
                                {{model.averageRank}}
                            </div>
                            <div class="col-xs-6">
                                <span ng-if="model.gosuUrl == null">N/A</span>
                                <span ng-if="model.gosuNa != null">NA/{{model.gosuNa}} &nbsp;</span>
                                <span ng-if="model.gosuEu != null">EU/{{model.gosuEu}} &nbsp;</span>
                                <span ng-if="model.gosuInt != null">INT/{{model.gosuInt}}</span>
                            </div>
                        </div>
                        <img src="/images/hndgaming.png" height="100" width="100" class="img-circle" ng-if="model.imageUrl == null" />
                        <img src="{{model.imageUrl}}" height="100" width="100" class="img-circle" ng-if="model.imageUrl != null">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-center">
        <a href="/public/login">Login</a>
    </div>
    
</div>